* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  width: 100%;
}

.img-container {
  background: url(../images/fern.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.inner-container {
  text-align: right;
  position: absolute;
  width: 100%;
  height: auto;
}

.name {
  color: white;
  font-size: 3rem;
  font-family: "Shadows Into Light", cursive;
  padding: 1rem 2rem;
  text-align: center;
}

.name-black {
  color: black;
}

.navbar {
  padding-right: 6rem;
}

.nav-item {
  list-style: none;
  padding-bottom: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}
