* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.bg-img {
  height: 100vh;
  background-image: url(../images/fern.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.name {
  margin: 1rem;
  padding-left: 2rem;
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px 2px black;
  font-family: "Viaoda Libre", cursive;
  font-weight: 500;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  min-width: 6rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav li {
  margin-bottom: 1rem;
}

nav a {
  margin-left: 1.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Viaoda Libre", cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

nav a:hover {
  color: rgb(206, 209, 209);
  cursor: pointer;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}

.nav-toggle {
  display: none;
  height: 100%;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 0.219rem;
  width: 2rem;
  border-radius: 0.125rem;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  top: 9px;
}

.nav-toggle-label span::after {
  bottom: 9px;
}

@media screen and (min-width: 48rem) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
  }

  .name {
    font-size: 4.5rem;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav a {
    opacity: 1;
  }

  nav ul {
    display: flex;
    margin-top: 1.5rem;
  }

  nav li {
    margin: 0;
  }
}
