:root {
  --background: rgb(226, 223, 223);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  background: rgb(226, 223, 223);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  margin: 1rem;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  background: var(--background);
  min-width: 7.5rem;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

nav li:hover {
  color: #000;
  cursor: pointer;
}

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav li {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  top: 7px;
}

.nav-toggle-label span::after {
  bottom: 7px;
}

.content {
  background-image: url(../images/bw-cover.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    opacity: 1;
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav ul {
    display: flex;
  }
}

/* * {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(226, 223, 223);
}

.text-container {
  padding: 0rem 3rem;
}

.img-container {
  background: url(../images/bw-cover.jpg);
}

.img-container-contact {
  background: url(../images/black.jpg);
}

.img-container,
.img-container-contact {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
} */
