* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.vidwrapper {
  width: 100%;
  max-width: 50rem;
  margin: 3rem auto;
}

.vidcontainer {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.vidcontainer iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  padding: 1rem;
}

/* .img-container-video {
  height: 75vh;
  background: url(../images/hand.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
} */

.img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  margin-top: 2rem;
  padding-top: 2rem;
}

body,
header {
  background: rgb(226, 223, 223);
}

header {
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
}

.name-contact {
  color: black;
  font-size: 3.5rem;
  padding-left: 2rem;
  font-family: "Viaoda Libre", cursive;
  font-weight: 600;
}

.name-contact:hover {
  color: rgb(87, 88, 88);
}

nav {
  position: absolute;
  text-align: left;
  top: 150%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav li {
  margin-bottom: 1rem;
}

.nav-item {
  margin-left: 1.5rem;
}

nav a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Viaoda Libre", cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

nav a:hover {
  color: rgb(207, 211, 211);
  cursor: pointer;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}

.nav-toggle {
  display: none;
  height: 100%;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label:hover {
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 0.219rem;
  width: 2rem;
  border-radius: 0.125rem;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  top: 9px;
}

.nav-toggle-label span::after {
  bottom: 9px;
}

.title {
  font-family: "Viaoda Libre", cursive;
  font-weight: 700;
  color: black;
  text-align: center;
  padding-top: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.footer-item {
  display: inline-block;
}

.bc {
  padding-top: 0.25rem;
}

@media screen and (min-width: 48rem) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .img {
    padding-top: 4rem;
  }

  .name-contact {
    margin-left: 1rem;
    font-size: 4.5rem;
    padding: 0;
  }

  nav {
    all: unset;
  }

  nav a {
    opacity: 1;
    color: black;
    text-shadow: 0px 0px;
    margin-left: 0;
  }

  nav ul {
    display: flex;
    margin-top: 2rem;
  }

  nav li {
    margin: 1rem;
  }

  .nav-item {
    margin: 0;
  }

  nav a:hover {
    color: rgb(87, 88, 88);
    cursor: pointer;
  }

  .text-container {
    padding: 0rem 7.5rem 3rem;
  }

  .footer-item {
    padding: 0 2rem;
  }
}
